<div class="tabs-stage">

  <div id="conversion-panel" class="panel">
    <div class="panel_wrapper">
      <div class="additional_info">
        <div class="additional_info--box">
          <p class="title">
            <span *ngIf="contact?.type == 'group'" class="icon"><img src="./assets/images/icons/icon-conversation.png"
                                                                     alt="conversation icon"></span>
            <span *ngIf="contact?.type == 'direct'" class="icon"><img src="./assets/images/icons/icon-contact.png"
                                                                      alt="contact icon"></span>
            <span class="name">{{contact?.title}}</span>
          </p>
        </div>
      </div>
      <div class="results">
        <div class="results_box">
          <div class="call-view">
            <div class="video">
              <div class="screen" style="display: flex;height: 180px; margin-bottom: 25px">
                <audio class="video" #selfVideoElem autoplay style="width: 60px;"></audio>
                <video class="video" #remoteVideoElem autoplay
                       style="width: 60px;border: #07c1e4 2px solid;border-radius: 7px;"></video>
              </div>
              <div class="options" style="margin-left: 50%">
                <button (click)="muteButton()" class="volume">
                  <app-icon [faIconString]="(isMute)? IconConstant.CALL_MUTE : IconConstant.CALL_VOLUME"></app-icon>
                </button>
                <button (click)="closeCall()" class="cancel">
                  <app-icon [faIconString]="IconConstant.CONTACT_CLOSE"></app-icon>
                </button>
              </div>
            </div>
            <div class="participants">
              <ul id="videoParticipants">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
