<app-auth (authSuccessEmitter)="isAuthSuccess($event)"></app-auth>

<app-panel-container *ngIf="showPanelContainer && isSuccess" [email]="email" [contextPanelData]="contextPanelData"
                     (close)="showHidePanelContainer($event)"></app-panel-container>
<app-frontier-opener *ngIf="!showPanelContainer && isSuccess && showContextMenu"
                     (showPanelContainer)="showHidePanelContainer($event)"></app-frontier-opener>
<app-context-menu-panel *ngIf="!showPanelContainer && showContextMenu && isSuccess" (avatarContactEmit)="setAvatarContact($event)"
                        (clickAvatarEmit)="contextPopUp($event)"></app-context-menu-panel>
<app-context-menu-popup *ngIf="!showPanelContainer && isSuccess" [showPopUp]="showContextPopUp" [contact]="avatarContact"
                        (clickChatFunction)="emitConversation($event)" (clickCallFunction)="clickCallFunction()" (clickVideoCallFunction)="clickVideoCallFunction()"
                        (clickSpaceEmit)="contextPopUp($event)"></app-context-menu-popup>
<ng-template *ngIf="isSuccess" appCiscospark (sparkInitEmitter)="isSparkInit($event)"></ng-template>
