<div class="frontier">
  <div class="frontier_mask"></div>
  <div class="frontier_widget">
    <div class="frontier_widget--box">
      <div class="head">
        <div class="head_action">
          <ul>
            <li *ngIf="userName" class="name"><p>{{userName}}</p></li>
            <li class="close">
              <button (click)="clickClose()">
                <app-icon [faIconString]="IconConstant.CLOSE"></app-icon>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="content-wrap">
          <app-delete-conversation-popup *ngIf="showDeletePopUp"
                                         (deletePopUpFunction)="deleteConversationFunction($event)"></app-delete-conversation-popup>
          <app-conversation-name-popup *ngIf="showPopUp"
                                       (popUpFunction)="popUpFunctionEmit($event)"></app-conversation-name-popup>
          <app-navigation-bar [visibleTabs]="visibleTabs" [activatedTab]="activatedTab"
                              (tabChange)="changePanel($event); showDoneButton = false;"
                              (goBackPanel)="goBackPanelFunction(); showDoneButton = false; newConversation = false;"></app-navigation-bar>
          <app-conversation-panel *ngIf="panel == tab.CONVERSATION" [conversationList]="conversationList"
                                  (clickNewFunction)="clickNewFunctionEmit(); showDoneButton = true; newConversation = true;"
                                  (deleteConversation)="showDeletePopUp = true; deleteConversationEmit($event);"
                                  (viewConversation)="contact = $event; getConversation($event); getAllMembers($event)"></app-conversation-panel>
          <app-contact-panel *ngIf="panel == tab.CONTACTS" [contactList]="contactList" [showDoneButton]="showDoneButton"
                             (clickDoneFunction)="clickDoneFunctionEmit($event)"
                             (selectedContacts)="selectedContacts = $event"></app-contact-panel>
          <app-video-panel *ngIf="panel == tab.VIDEO"
                           (closeVideoCallFunction)="closeVideoCallFunctionEmit()" [videoElem]="videoElem"
                           [viewVideoElem]="viewVideoElem"></app-video-panel>
          <app-audio-panel *ngIf="panel == tab.AUDIO"
                           (closeAudioCallFunction)="closeAudioCallFunctionEmit()" [contact]="contact"></app-audio-panel>
          <app-message-panel *ngIf="panel == tab.MESSAGE" [conversation]="conversation" [members]="members"
                             [email]="email"
                             [newConversation]="newConversation"
                             [contact]="contact"
                             (clickCallFunction)="clickCallFunctionEmit($event)"></app-message-panel>
        </div>
      </div>
    </div>
  </div>
</div>
