<h1>Single Party Calling</h1>
<p>This sample demonstrates 1:1 calling.</p>
<form id="credentials">
  <fieldset>
    <legend>Credentials</legend>
    <input id="access-token" name="accessToken" placeholder="Your access token" type="text" #accessToken>
    <button id="connect" title="connect" (click)="writeLocalStorage('access-token', accessToken.value, $event)">Connect</button>
    <p id="connection-status">disconnected</p>
  </fieldset>
</form>

<form id="dialer">
  <fieldset>
    <legend>Dialer</legend>
    <input id="invitee" name="invitee" placeholder="Person ID or Email Address or SIP URI or Room ID" type="text" #invitee>
    <input title="dial" type="button" value="dial" (click)="writeLocalStorage('invitee', invitee.value, $event)">
  </fieldset>
</form>

<form id="constraints">
  <fieldset>
    <legend>Constraints</legend>
    <input id="constraints-audio" title="audio" type="checkbox" checked>
    <label for="constraints-audio">Audio</label>
    <input id="constraints-video" title="video" type="checkbox" checked>
    <label for="constraints-video">Video</label>
  </fieldset>
</form>

<form id="call-controls">
  <fieldset>
    <legend>Call Controls</legend>
    <button id="hangup" title="hangup" type="button" (click)="call()">cancel/hangup</button>
  </fieldset>
</form>

<div style="display: flex">
  <video style="width:50%" id="self-view" muted autoplay #videoElem></video>
  <div style="width:50%">
    <audio id="remote-view-audio" autoplay></audio>
    <video id="remote-view-video" autoplay></video>
  </div>
</div>
