<div class="tabs-stage">
  <div id="conversion-panel" class="panel">
    <div class="panel_wrapper">
      <div class="additional_info">
        <div class="additional_info--box">
          <p class="title">
            <span><i class="fas fa-users"></i></span>conversation 1
          </p>
          <p class="partcipants">
            <span>4</span>&nbsp;Partcipants
          </p>
        </div>
      </div>
      <div class="results">
        <div class="results_box">
          <div class="chat-view">
            <app-send-receive-messages></app-send-receive-messages>
            <app-send-receive-messages [me]="true"></app-send-receive-messages>
            <app-send-receive-messages></app-send-receive-messages>
            <app-send-receive-messages></app-send-receive-messages>
            <app-send-receive-messages [me]="true"></app-send-receive-messages>
            <app-send-receive-messages [me]="true"></app-send-receive-messages>
            <app-send-receive-messages></app-send-receive-messages>
            <app-send-receive-messages></app-send-receive-messages>
          </div>
          <div class="message-input">
            <div class="options">
              <button (click)="clickVideoCall()" class="video">
                <app-icon [faIconString]="IconConstant.CONTACT_VIDEO"></app-icon>
              </button>
              <button (click)="clickAudioCall()" class="audio">
                <app-icon [faIconString]="IconConstant.CONTACT_PHONE"></app-icon>
              </button>
            </div>
            <div class="input-box">
              <button class="attachment">
                <app-icon [faIconString]="IconConstant.FILE_ATTACHE"></app-icon>
              </button>
              <textarea placeholder="Add Your Message Here" style="overflow: hidden;"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
