<div class="tabs-stage">
  <div id="message-panel" class="panel">
    <div class="panel_wrapper">
      <div class="additional_info">
        <div class="additional_info--box">
          <p class="title">
            <span *ngIf="contact.type == 'group'" class="icon"><img src="./assets/images/icons/icon-conversation.png"
                                                                    alt="conversation icon"></span>
            <span *ngIf="contact.type == 'direct'" class="icon"><img src="./assets/images/icons/icon-contact.png"
                                                                     alt="contact icon"></span>
            <span class="name">{{contact.title}}</span>
          </p>
          <p class="partcipants">
            <span>{{members.length}}</span>&nbsp;Participants
          </p>
        </div>
      </div>
      <div class="results">
        <div class="results_box">
          <div #list class="chat-view" [scrollTop]="list.scrollHeight">
            <app-loader *ngIf="conversation.length == 0 && !newConversation"></app-loader>
            <ng-container *ngFor="let message of conversation; let i = index">
              <app-send-receive-messages [me]="(message?.personEmail == email)? true : false"
                                         [object]="message"
                                         [message]="(message?.text)?(message?.text):'*File*'"
                                         [fileName]="(attachments[i]?.index == (conversation.length - (i + 1)))? attachments[i]?.fileName : ''"
                                         [name]="getDisplayName(message.personEmail)"
                                         [time]="formatLastActivity(message?.created)"></app-send-receive-messages>
            </ng-container>
          </div>
          <div class="message-input">
            <div class="options">
              <button (click)="clickVideoCall()" class="video">
                <img src="./assets/images/icons/icon-video.png" alt="video icon">
              </button>
              <button (click)="clickAudioCall()" class="audio">
                <img src="./assets/images/icons/icon-audio.png" alt="audio icon">
              </button>
            </div>
            <div class="input-box">
              <div class="attachment">
                <label for="file-input">
                  <img src="./assets/images/icons/icon-attachment.png" alt="attachment icon">
                </label>
                <input id="file-input" type="file" (change)="chooseImageFile($event)">
              </div>
              <div *ngIf="newFile" class="plane">
                <label (click)="sendFile(newFile)" for="file-input">
                  <img src="./assets/images/icons/icon-paper-plane.png" alt="attachment icon">
                </label>
              </div>
              <input class="msg-field" [(ngModel)]="newMessage" (keydown)="sendNewMessage($event)"
                     [attr.disabled]="newFile"
                     placeholder="Add Your Message Here"
                     style="overflow: hidden;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
