<div class="tabs-stage">
  <div id="conversion-panel" class="panel">
    <div class="panel_wrapper">
      <div class="additional_info">
        <div class="additional_info--box">
          <p class="title">
            <span><i class="fas fa-users"></i></span>conversation 1
          </p>
          <p class="partcipants">
            <span>4</span>&nbsp;Partcipants
          </p>
        </div>
      </div>
      <div class="results">
        <div class="results_box">
          <div class="chat-view">
            <div class="chat-view_row others">
              <div class="message">
                <p class="info">Andrew Bett<span>10:03 AM</span></p>
                <p class="words">Hi Buddies, How are you?</p>
              </div>
            </div>
            <div class="chat-view_row me">
              <div class="message">
                <p class="info">Me<span>10:05 AM</span></p>
                <p class="words">Hi, I'm fine. How are you buddies ?</p>
              </div>
            </div>
            <div class="chat-view_row others">
              <div class="message">
                <p class="info">Andrew Bett<span>10:03 AM</span></p>
                <p class="words">Hi Buddies, How are you?</p>
              </div>
            </div>
            <div class="chat-view_row me">
              <div class="message">
                <p class="info">Me<span>10:05 AM</span></p>
                <p class="words">Hi, I'm fine. How are you buddies ?</p>
              </div>
            </div>
            <div class="chat-view_row others">
              <div class="message">
                <p class="info">Andrew Bett<span>10:03 AM</span></p>
                <p class="words">Hi Buddies, How are you?</p>
              </div>
            </div>
            <div class="chat-view_row me">
              <div class="message">
                <p class="info">Me<span>10:05 AM</span></p>
                <p class="words">Hi, I'm fine. How are you buddies ?</p>
              </div>
            </div>
            <div class="chat-view_row others">
              <div class="message">
                <p class="info">Andrew Bett<span>10:03 AM</span></p>
                <p class="words">Hi Buddies, How are you?</p>
              </div>
            </div>
            <div class="chat-view_row me">
              <div class="message">
                <p class="info">Me<span>10:05 AM</span></p>
                <p class="words">Hi, I'm fine. How are you buddies ?</p>
              </div>
            </div>
          </div>
          <div class="message-input">
            <div class="options">
              <button (click)="clickVideoCall()" class="video">
                <app-icon [faIconString]="IconConstant.CONTACT_VIDEO"></app-icon>
              </button>
              <button (click)="clickAudioCall()" class="audio">
                <app-icon [faIconString]="IconConstant.CONTACT_PHONE"></app-icon>
              </button>
            </div>
            <div class="input-box">
              <button class="attachment"><i class="fas fa-paperclip"></i></button>
              <textarea placeholder="Add Your Message Here" style="overflow: hidden;"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
