<div class="tabs-stage">
  <div id="conversion-panel" class="panel">
    <div class="panel_wrapper">
      <div class="search_action">
        <app-search-bar (searchText)="term = $event"></app-search-bar>
      </div>
      <div class="results">
        <button class="create_new">Done&nbsp;<i class="fas fa-check"></i></button>
        <div class="results_box">
          <div class="results-view">
            <ul>
              <ng-container *ngFor="let contact of contactList|filter:term; let i = index">
                <app-contact (click)="selectContact(i,contact)"
                             [icon]="(contact?.icon)? contact.icon : IconConstant.DEFAULT_ICON "
                             [name]="contact?.name" [dateTime]="contact?.dateTime"></app-contact>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
