<div class="tabs-stage">
  <div id="conversion-panel" class="panel">
    <div class="panel_wrapper">
      <div class="search_action">
        <app-search-bar (searchText)="term = $event"></app-search-bar>
      </div>
      <div class="results">
        <button *ngIf="showDoneButton" (click)="clickDone()" class="create_new">Done&nbsp;<app-icon
          [faIconString]="IconConstant.CONTACT_CHECK"></app-icon>
        </button>
        <div class="results_box">
          <div class="results-view">
            <ul>
              <ng-container *ngFor="let contact of contactList|filter:term; let i = index">
                <app-contact *ngIf="contact.type == 'direct'" (click)="selectContact(i,contact)"
                             [selected]="isSelectedContact(contact)"
                             [icon]="(contact?.type == 'direct')? IconConstant.DEFAULT_SINGLE_USER : IconConstant.DEFAULT_MULTIPLE_USER "
                             [name]="contact?.title"></app-contact>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
