<div class="chat-view_row" [ngClass]="me?'me':'others'">
  <div class="message">
    <p class="info">{{me? 'me' : name}}<span>{{time | date:'medium' }}</span></p>
    <p *ngIf="message != '*File*'" class="words">{{message}}</p>
    <p *ngIf="message == '*File*'" class="words"><img (click)="clickAttachment()" style="cursor: pointer"
                                                      src="../../../assets/css/img/icons/icon-attachment-chat_2.png"
                                                      alt="attachment icon"></p>
  </div>
</div>
